body{
    width: 99%;
    height: 99%;
    background-attachment: fixed;
    background: rgb(27,27,27);
    background: linear-gradient(115deg, rgba(27,27,27,1) 0%, rgba(68,68,68,1) 35%, rgba(92,92,92,1) 100%);
}
main {
    display: flex;
    flex-direction: column;
  
}

.menu {
    position: absolute;
    top: -90px;
    left: -90px;
    display: flex;
    background-color: #5d5dfc;
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 100%;
    opacity: 75%;

}

.fa-bars{
    z-index: 10;
    font-size: 2.5em;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.fa-bars:hover + .menu {
    z-index: 11;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: #5d5dfc;
    width: 180px;
    height: 97%;
    margin: 0;
    border-radius: 2%;
    opacity: 100%;
}
nav:hover .fa-bars{
    z-index: 9;
}

.fa-user{
    font-weight: 600;
    z-index: 9;
    font-size: 1.5em;
    border: solid;
    border-radius: 38%;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.backgroundMenuUtilisateur{
    display: none;
    z-index: 8;
    border: solid;
    border-radius: 2%;
    background-color: #5d5dfc;
    opacity: 95%;
    padding-left: 15%;
    padding-bottom: 32.3%;
    position: absolute;
    top: 0px;
    right: -2px;
}
.menuDeroulantUtilisateur:hover .backgroundMenuUtilisateur{
    display: block;
}

.comptUtilisateur{
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 35%;
}

.pannierUtilisateur{
    font-size: 1.5em;
    position: absolute;
    right: 10%;
    top: 15%;
}

.dispositionParam{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 13%;
    width: 95%;
}

.articleIMG{
    width: 35%;
}

#positionIMG{
    width: 90%;
    margin: 0% auto auto 0%;
}

.imageCamera{
    width: 100%;
    border-radius: 4%;
    border: solid 4px;
    border-color: #000000;
    border-radius: 5%;

}

#parametre{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pParam {
    background-color: #fcfafa;
    width: 70%;
    border: solid 4px;
    border-color: #000000;
    border-radius: 5%;
    margin: 0 0 5% 0;
}


.paramChoix{
width: 100%;
}

.paramChoix_1{
    margin: 3%;
}

.paramChoix_2{
    margin: 3%;
}

#name{
    width: 25%;
}

#positionName{
    width: 100%;
    margin: -5% 0 0 30%;
}

.cameraName{
font-size: 2.5em;
color: white;
font-weight: bold;
margin-bottom: 20%;
}

.articleDescription{
    width: 100%;
    color: darkgray;
    margin-bottom: 20%;
}

.articlePrice{
    color: white;
    font-size: 2em;

}

#cart{
    margin: 16.2% 0 0 -3%;
}

#ajoutPannier{
    display: flex;
}

.positionAjoutPannier{
    display: flex;
    align-items: center;
}

.fa-cart-plus{
    font-size: 2.5em;
    color: #5d5dfc;
}

.boutonAjoutPannier{
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    color: #5d5dfc;
}

@media all and (max-width: 1024px){

    .menu {
        position: absolute;
        top: -90px;
        left: -90px;
        display: flex;
        background-color: #5d5dfc;
        width: 170px;
        height: 170px;
        margin: 0;
        border-radius: 100%;
        opacity: 75%;
    }
    
    .fa-bars {
        z-index: 10;
        font-size: 2em;
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
    }

    .backgroundMenuUtilisateur{
        padding-left: 45%;
        padding-bottom: 100%;
    }
    
    .comptUtilisateur {
        font-size: 1em;
        position: absolute;
        top: 6%;
        right: 40%;
    }
    
    .pannierUtilisateur {
        font-size: 1em;
        position: absolute;
        right: 10%;
        top: 18%;
    }

    .dispositionParam {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25%;
        width: 95%;
    }

    #parametre {
        width: 100%;
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: center;
    }



    #pParam {
        background-color: #fcfafa;
        width: 70%;
        border: solid 4px;
        border-color: #000000;
        border-radius: 5%;
        margin: 0px 2% -5% 23px;
    }

    .articleIMG {
        width: 80%;
    }

    #positionIMG {
        width: 100%;
        margin: 15% auto auto 0%;
}

#name {
    width: 100%;
}

#positionName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -5% 0 0 0%;
}

.articleDescription {
    width: 70%;
    text-align: center;
    color: darkgray;
    margin-bottom: 0%;
    margin-top: 0;
}

.cameraName {
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 10%;
    /* width: 1%; */
}

#cart {
    margin: 0% 0 0 -3%;
}



}